.account-pages {
  .actions {
    form {
      input {
        width: 228px;
        height: 49px;
        border-radius: 8px;
        background: #fff;
        border: 1px solid #ced4da;
      }
    }

    button {
      background: #178ec2;
      float: right;
    }
  }

  .custom-fieldset {
    width: 100%;
    height: 500px;
    background: #fff;
    border: 1px solid #ced4da;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 20px;
    margin-top: 20px;
    border-radius: 10px;

    table {
      padding: 20px;

      thead {
        width: 100%;
        height: 67px;
        background: #1ea659;
        color: #fff;
      }

      tbody {
        td {
          padding-top: 20px; /* Ajuste o espaçamento superior conforme necessário */
          padding-bottom: 20px; /* Ajuste o espaçamento inferior conforme necessário */
          padding-left: 10px; /* Ajuste o espaçamento esquerdo conforme necessário */
          padding-right: 10px;
        }
      }
    }

    .custom-tbody .inativo {
      color: #f64949;
    }

    .custom-tbody .ativo {
      color: #22BF66;
      a{
        cursor: pointer;
        text-decoration: none;
        font-size: 0.875rem;
        width: 71px;
        height: 26px;
        padding: 5px 19px;
        background: #22BF66;
        color: #fff;
        border-radius: 5px;
      }
    }

    .custom-tbody .inativo a {
      cursor: pointer;
      text-decoration: none;
      font-size: 0.875rem;
      width: 71px;
      height: 26px;
      padding: 5px 15px;
      background: #f64949;
      color: #fff;
      border-radius: 5px;
    }

    .delete-button i {
      background-image: url("../../assets/images/edit.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 16px; /* Ajuste o tamanho conforme necessário */
      padding-left: 20px;
    }

    .delete-button {
      border: none;
    }
  }
}
